/*********************************************/
/* Importações de Fontes */

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

/*********************************************/
/* Configuração Global */

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*********************************************/
/* Variáveis */

:root {
    --font-destaque: 'Passion One', cursive;
    --font-padrao: 'Sriracha', cursive;
}

/*********************************************/
/* Estilos Gerais */

a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

a:hover {
    color: rgb(255, 255, 255, 0.9);
    text-decoration: underline #fff;
}

/*********************************************/
/* Header */

header {
    background-color: #000;
    text-align: center;
    padding: 3rem 0.5rem;
}


header  h1 {
    color: #fff;
    font-family: var(--font-destaque);
    font-size: clamp(3rem, 10vw, 6rem);
    font-variant: small-caps;
    margin-bottom: 0.5rem;
}

header  p {
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: clamp(1rem, 3vw, 2rem);
}

/*********************************************/
/* Cordel */

.cordel-text {
    font-size: clamp(1rem, 4vw, 4rem);
    font-family: var(--font-padrao);
    margin-left: clamp(1rem, 5vw, 3rem);
    margin-top: clamp(3rem, 10vh, 6rem);
    width: fit-content;
}

.paralax-img {
    background: right center / cover no-repeat fixed;
    padding-block: clamp(3rem, 10vh, 6rem);
    margin-top: clamp(3rem, 10vh, 6rem);
}

#img-01 {
    background-image: url(../imagens/background001.jpg);
}

#img-02 {
    background-image: url(../imagens/background002.jpg);
}

.paralax-text {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 0.5rem;
    text-shadow: 1px 1px 1px #000;
    margin-top: 0;
}

/*********************************************/
/* Footer */

footer {
    background-color: #000;
    padding: 1rem 0.5rem;
    text-align: center;
    margin-top: clamp(3rem, 10vw, 10rem);
}

footer p {
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5rem;
}

footer p .fas {
    color: #ff2d2d;
}