@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    margin-bottom: 90px;
}
header h1 {
    font-family: 'Passion One', cursive;
    font-size: 10vw;
    font-weight: 700;
    padding-top: 50px;
    margin: 0px 5px;
}
header p {
    padding-bottom: 50px;
}
a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
}
a:hover {
    text-decoration: underline;
}
.texto {
    padding: 0px 30px;
    margin-bottom: 7%;
}
.texto p {
    font-family: 'Sriracha', cursive;
    font-size: 3.5vw;
    line-height: 7vw;
}
.imagem {
    max-height: 100%;
    max-width: 100%;
    background: #008b6d right center/cover no-repeat fixed;
    margin: 14vh 0px 10vh;
    padding: 90px 30px;
    box-shadow: inset rgba(0, 0, 0, 40%) 5px 5px 15px;
}
.imagem > p {
    font-family: 'Sriracha', cursive;
    font-size: 3.5vw;
    line-height: 7vw;
    background-color: rgba(0, 0, 0, 50%);
    color: white;
    padding: 5px 5px;
    max-width: max-content;
    text-shadow: #000000 1px 1px;
}
#img01 {
    background-image: url("../imagens/imagem01.jpg");
}
#img02 {
    background-image: url("../imagens/imagem02.jpg");
    background-position: left bottom;
}
footer {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 10px 15px;
    margin-top: 150px;
}